.cart-items-checkout {
  height: 320px;
  width: 550px;
  overflow: hidden;
}

.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px;

  .product-image {
    width: 48px;
    height: 48px;
  }

  .product-info {
    margin-left: 16px;
    flex-grow: 1;

    .product-name {
      color: $gray-light;
      font-size: 14px;
    }

    .product-price {
      color: $gray-light;
      font-weight: 700;

      &:before {
        content: "Rs ";
      }
    }
  }
}